
html{
    font-size: 20px;
}
body
{
    background:url("images/Chinese.jpg") fixed no-repeat;
    background-size: cover;
    background-position: center top;
    align-content: center;
}

#text_form
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 95vh;
}

#text_form>div
{
    
    font-size: 1.2rem;

}
#main_flex
{
    display: grid;
    row-gap: 30px;
    padding: 20px;
}

.label_input
{
    display: grid;
    grid-template-columns: 120px 200px;
    column-gap: 10px;

}
#sign_in
{
    display: grid;
    grid-template-areas:  'sign_button sign_button'
                           'forgot create';
    text-align: center;
    row-gap: 10px;

}
#sign_button
{
    grid-area:sign_button;
    width: 100%;
}
#sign_button>button{
    height: 40px;
    width: 30%;
    font-size: 80%;
}


#forgot{
    grid-area: forgot;
    text-align: left;
}
#create{
    grid-area: create;
    text-align: right;

}


label{
    text-align: left;
}
input
{
   height: 1.5rem;
   font-size: 1rem;
   float: right;
}
a{
    font-size: 1rem;
    
}
a:hover, button:hover{
    cursor: pointer;
}
a:hover
{
    text-decoration: underline;
}

@media (max-width: 334px) {
    
    .label_input
    {
        display: flex;
        flex-direction: column;
        
    }
    
} 
    

